:root {
    --bg-color: #f9f9f9;
    --bg-green-color: #74C365;
    --border-green-color: #00573F;
    --text-color: #333;
    --bg-yellow-color: #f0e130;
    --border-yellow-color: #bfbf00;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

.dark {
    --bg-color: #070b1b;
    --bg-green-color: #90EE90;
    --border-green-color: #00573F;
    --text-color: #f9f9f9;
    --bg-yellow-color: #f0e130;
    --border-yellow-color: #bfbf00;
    --shadow-color: rgba(150, 146, 146, 0.689);
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: ltr;
    text-align: center;
    color: var(--text-color);
}

#container {
    width: min(90%, 800px);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow-color);
    direction: rtl;
}

header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
}

.dark-mode-toggle {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}

.input-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.green-letter, .yellow-letter, #gray-input {
    font-size: 30px;
    font-weight: bold;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 14px;
    font-size: 25px;
    text-align: center;
}

.green-letter, .yellow-letter {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.green-letter {
    background-color: var(--bg-green-color);
    border-color: var(--border-green-color);
}

.yellow-letter {
    background-color: var(--bg-yellow-color);
    border-color: var(--border-yellow-color);
}

#gray-input {
    background-color: #f9f9f9;
    border-color: #ccc;
    padding: 10px;
}

#gray-block {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--text-color);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.popup {
    direction: rtl;
    position: fixed;
    /* top: calc(min(15vw, 9vh)); */
    /* padding: calc(min(3vw, 1.8vh)); */
    top: 0;
    padding-top: 50px;
    border-radius: calc(min(1vw, 0.6vh));
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    box-shadow: 0 0 10px var(--shadow-color);
}

.popup.hidden {
    display: none;
}

hr.solid {
    border-top: 3px solid #bbb;
    border-radius: 5px;
}
